@font-face {
    font-family: 'Avenir_Heavy';
    src: url('../storage/font/Avenir_Heavy.ttf') format('truetype');
  }
@font-face {
    font-family: 'Avenir_Roman';
    src: url('../storage/font/Avenir_Roman.otf') format('truetype');
  }