/* Importaciones */
@import url(variables.css);
@import url(fonts.css);

/* Estilos globales */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Avenir_Roman', sans-serif;
}

main {
    max-width: 1440px;
    max-height: 1024px;
    margin: auto;
    padding: 65px;
}
.section__container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px;
}
.article__jump{
    width: 637px;
    padding-right: 15px;
}
.article__jump h1{
    font-family: 'Avenir_Heavy',sans-serif;
    font-size: 4.5rem;
    line-height: 88px;
    margin-bottom: 32px;
}
.article__jump p{
    width: 586px;
    font-size: 1.625rem;
    margin-bottom: 32px;
}

.article__jump button{
    width: 182px;
    height: 66px;
    border-radius: 32px;
    background: #252525;
    color: #ffffff;
    font-size: 1.625rem;
}

.section__list{
    width: 1312px;
    height: 298px;
    padding: 64px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    background: #252525;
}
.card__item{
    width: 316px;
    height: 170px;
    color: #ffffff;
}

.card__item h3{
    font-family: 'Avenir_Heavy',sans-serif;
    font-size: 2rem;
    margin-bottom: 24px;
}
.card__item p{
    font-size: 1.5rem;
}